<!-- <label style="color: wheat;" class="" for="">{{employeeData.name}}</label> -->

<div style="margin-top: 20px;" class="container-fluid">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{employeeData.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{employeeData.name}}</h5>

          <div style="display: inline-block">
            <div style="float:left">
              <small class="badge badge-info">Job Title</small>
            </div>
            <div style="float:left;padding: 4px;">
              <p class="details-font card-text">{{employeeData.jobTitle}}</p>
            </div>
          </div>



          <div style="display: inline-block">
            <div style="float:left">
              <small class="badge badge-info">Address</small>
            </div>
            <div style="float:left;padding: 4px;">
              <p class="details-font card-text">{{employeeData.address}}</p>
            </div>
          </div>


          <div style="display: inline-block">
            <div style="float:left">
              <small class="badge badge-info">Phone Number</small>
            </div>
            <div style="float:left;padding: 4px;">
              <p class="card-text details-font">{{employeeData.phoneNumber}}</p>
            </div>
          </div>


          <div style="display: inline-block">
            <div style="float:left">
              <small class="badge badge-info">Date Of Joining</small>
            </div>
            <div style="float:left;padding: 4px;">
              <p class="details-font card-text">{{employeeData.dateOfJoin | date: 'dd/MM/yyyy'}} </p>
            </div>
          </div>


          <div style="display: inline-block">
            <div style="float:left">
              <small class="badge badge-info">Description</small>
            </div>
            <div style="float:left;padding: 4px;">
              <p class="details-font truncate card-text">{{employeeData.description}}</p>
            </div>
          </div>

          <a href="#" class="btn btn-primary">Go Back</a>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>

  </div>
</div>
