<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <div style="padding: 13px;">

                <button mat-button routerLink="/create_employees" class="ShowProductsButtonStyle">Add a new
                    Employee</button>

            </div>

            <div style="padding: 13px;">

                <button mat-button routerLink="/show_employees" class="ShowProductsButtonStyle">Load Employees</button>

            </div>

            <div style="padding: 13px;">

                <button mat-button routerLink="/show_employees" class="ShowProductsButtonStyle">Load Employees</button>

            </div>
        </div>

    </div>
</div>