.ShowProductsButtonStyle {
    color: black;
    border: 1px solid brown;
    background: cadetblue;
    width: 700px;
    margin-left: 0 auto;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}