/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbarStyle {
  background: #3b3b4f;
  color: wheat;
}

.inputFields {
  width: 300px;
  border: 1px solid #717a82;
}

.labelStyle {
  float: left;
  width: 160px;
  margin-top: 3px;
  padding: 6px 10px;
  height: 38px;
}

.newProductForm {
  width: 36%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.myInlineFlex {
  display: inline-flex;
}

.info {
  background-color: #2196f3;
} /* Blue */
